[data-ctrl="history"] {
  margin: 0 auto;
  text-align: right;
}

[data-ctrl="history"] .history-review {
  padding: 0;
  padding-top: 10ex;
  position: relative;
}

[data-ctrl="history"] table {
  font-size: 1.25ex;
  width: 100%;
  margin-bottom: 4em;
}

[data-ctrl="history"] table[data-undo-limbo="deleteall"] {
  opacity: 0.4;
}

[data-ctrl="history"] thead {
  opacity: .8;
  font-weight: bold;
}

[data-ctrl="history"] caption {
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
}

[data-ctrl="history"] table:last-child {
  margin-bottom: 0;
}

[data-ctrl="history"] ul.show-preview {
  font-weight: bold;
  font-family: 'Courier New', monospace;
  list-style-type: none;
  margin: 0;
  font-size: .75ex;
  padding: 1em;
}

[data-ctrl="history"] .show-preview li {
  display: inline-block;
  white-space: pre;
}

/** have these two work together: */
[data-ctrl="history"] ul.show-preview {
  position: absolute;
  top: 0;
  right: 0;
}

.past-games .vs {
}

.past-games thead {
  text-align: center;
}

.past-games td {
  padding: 0 1ex;
}

.past-games tr[data-gameover="true"] td.winner {
  opacity: inherit;
}

[data-ctrl="history"] td {
  border: 1px solid #bbb;
  border-top: none;
}

[data-ctrl="history"] td {
  border: 1px solid #bbb;
}

[data-ctrl="history"] td:first-child {
  border-left: none;
}

[data-ctrl="history"] td:last-child {
  border-right: none;
}

[data-ctrl="history"] tbody tr:first-child {
  border-top: none;
}

[data-ctrl="history"] tbody tr:last-child {
  border-bottom: none;
}

.settings-review tbody {
  font-family: monospace;
}
