[data-ctrl="record"] .game-play {
  margin: 0 auto;
}

[data-ctrl="record"] .game-play.gameover [data-chess-turn] {
  visibility: hidden;
}

[data-ctrl="record"] .game-play[data-chess-turn="w"] [data-chess-turn="b"] {
  visibility: hidden;
}

[data-ctrl="record"] .game-play[data-chess-turn="b"] [data-chess-turn="w"] {
  visibility: hidden;
}

[data-ctrl="record"] form[name="newGameForm"] {
  margin: 0.5ex;
}

[data-ctrl="record"] form[name="newGameForm"],
[data-ctrl="record"] form[name="newGameForm"] input {
  text-align: center;
}

[data-ctrl="record"] form[name="newGameForm"] button {
  padding: .5ex 1ex;
}

[data-ctrl="record"] form[name="newGameForm"] input {
  border: none;
  outline: none;
  box-shadow: 1px 2px 2px #888;
  color: #666;
}

[data-ctrl="record"] form[name="newGameForm"] > * {
  margin: 1ex;
}

@media (max-width: 450px) {
  [data-ctrl="record"] form[name="newGameForm"] > * {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

[data-ctrl="record"] .game-play .status {
  font-style: italic;
}

[data-ctrl="record"] .game-play .pawn-promotion {
  margin: 0;
  padding: 0;
  line-height: 1ex;
}

[data-ctrl="record"] .game-play .pawn-promotion li {
  font-size: 2em;
  display: inline-block;
  list-style-type: none;
}

[data-ctrl="record"] .game-play .pawn-promotion:before {
  content: "Promote to:";
  font-style: italic;
  font-size: .75em;
}

[data-ctrl="record"] .game-progress {
  position: relative;
}

[data-ctrl="record"] .game-progress h4 {
  text-align: right;
  font-family: monospace;

  display: inline;
  opacity: .3;
  margin-top: 1.5ex;
  font-size: 2em;
  z-index: -99;
  position: absolute;
  right: 2ex;
}

[data-ctrl="record"] .game-progress[data-game-started="false"] * {
  visibility: hidden;
}

[data-ctrl="record"] .game-progress[data-game-started="true"] .login {
  visibility: visible;
}

[data-ctrl="record"] .game-progress .controls {
  width: 100%;
}

[data-ctrl="record"] .game-progress .controls .undo {
  display: block;
}

[data-ctrl="record"] .game-progress .controls .undo,
[data-ctrl="record"] .game-progress .controls .login {
  text-align: center;
}

[data-ctrl="record"] .game-progress .save {
  line-height: 2em;
}

[data-ctrl="record"] .game-progress .download {
  margin-right: 1ex;
}

[data-ctrl="record"] .game-progress .data.pgn-dump {
  height: 10em;
  width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 1.65ex;
  white-space: pre-line;
  padding: 1ex;
  margin: 1ex 0 1em 0;
  box-shadow: 0px 0px 7px #aaa inset;

  color: #c7254e;
  background-color: #f9f2f4;
  background: transparent;
}

[data-ctrl="record"] .game-play .instructions {
  margin: 1ex 0;
}

[data-ctrl="record"] .game-play .instructions[data-chess-turn="b"] {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

[data-chess-sqr-color="light"] {
}

[data-chess-sqr-color="dark"] {
  background-color: #bbb;
}
