/* Space out content a bit */
body {
  padding-top: 1em;
  padding-bottom: 1em;
  max-zoom: 1.0
}

a:hover {
  cursor: pointer;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-transform: lowercase;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: none;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 10px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    padding: 15px 10px;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.game-play {
  margin: 0 auto;
}

.game-play.gameover [data-chess-turn] {
  visibility: hidden;
}

.game-play[data-chess-turn="w"] [data-chess-turn="b"] {
  visibility: hidden;
}

.game-play[data-chess-turn="b"] [data-chess-turn="w"] {
  visibility: hidden;
}

form[name="newGameForm"] {
  margin: 0.5ex;
}

form[name="newGameForm"],
form[name="newGameForm"] input {
  text-align: center;
}

form[name="newGameForm"] button {
  padding: .5ex 1ex;
}

form[name="newGameForm"] input {
  border: none;
  outline: none;
  box-shadow: 1px 2px 2px #888;
  color: #666;
}

.game-play .status {
  font-style: italic;
}

.game-play .pawn-promotion {
  margin: 0;
  padding: 0;
  line-height: 1ex;
}

.game-play .pawn-promotion li {
  font-size: 2em;
  display: inline-block;
  list-style-type: none;
}

.game-play .pawn-promotion:before {
  content: "Promote to:";
  font-style: italic;
  font-size: .75em;
}

.log h4 {
  text-align: right;
  font-family: monospace;

  display: inline;
  position: absolute;
  opacity: .3;
  margin-top: 1.5ex;
  font-size: 2em;
  z-index: -99;
  right: 8ex;
}

.log[data-game-started="false"] * {
  visibility: hidden;
}

.log[data-game-started="true"] .login {
  visibility: visible;
}

.log .controls {
  width: 100%;
}

.log .controls .undo {
  display: block;
}

.log .controls .undo,
.log .controls .login {
  text-align: center;
}

.log .save {
  line-height: 2em;
}

.log .download {
  margin-right: 1ex;
}

.log .data.pgn-dump {
  height: 10em;
  width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 1.65ex;
  white-space: pre-line;
  padding: 1ex;
  margin: 1ex 0 1em 0;
  box-shadow: 0px 0px 7px #aaa inset;

  color: #c7254e;
  background-color: #f9f2f4;
  background: transparent;
}

table.chess-board {
  width: 100%;
  height: 100%;
}

table.chess-board.unfocus {
  transition-duration: 0.5s;
  opacity: 0.75;
}

table.chess-board button {
  background: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  cursor: default;
}

table.chess-board [data-chess-transitioning="true"] button {
  text-decoration: underline;
}

table.chess-board [data-chess-transition="start"] {
  cursor: move;
}

table.chess-board [data-chess-transition="valid"] {
  cursor: grab;  /* can be dropped (open hand) */ 
}

table.chess-board [data-chess-transition="invalid"] {
  cursor: not-allowed;
}

table.chess-board [data-chess-transition="cancel"] {
  cursor: none;
}

table.chess-board button,
table.chess-board td {
  margin: 0;
  padding: 0;
}

table.chess-board button:focus,
table.chess-board button:active {
  outline: none;
}

table.chess-board [data-chess-occupation="b"] button {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

table.chess-board [data-chess-occupation=""] button {
  opacity: 0;
  /* hack to allow for invisible space-occupying symbol
   * see: https://github.com/jzacsh/chess-logger/issues/7
   */
}

table.chess-board td:first-child {
  border-left: 1px solid #bbb;
}

table.chess-board td:last-child {
  border-right: 1px solid #bbb;
}

table.chess-board tr:first-child {
  border-top: 1px solid #bbb;
}

table.chess-board tr:last-child {
  border-bottom: 1px solid #bbb;
}

[data-chess-sqr-color="light"] {
}

[data-chess-sqr-color="dark"] {
  background-color: #bbb;
}
