[data-ctrl="review"] .jumbotron {
  font-size: 2ex;
  text-align: left;
}

[data-ctrl="review"] .game-upload {
  text-align: center;
}

[data-ctrl="review"] .game-upload > * {
  padding: 1em;
}

[data-ctrl="review"] .game-upload label {
  width: 100%;
}

[data-ctrl="review"] .game-upload textarea {
  width: 100%;
  line-height: 1.25em;
  display: block;
  font-family: monospace;
  white-space: pre;
  color: #444;
}

[data-ctrl="review"] ul.pgn-dump {
  padding: 0;
}

[data-ctrl="review"] ul.pgn-dump {
  list-style-type: none;
}

[data-ctrl="review"] .pgn-dump li {
  font-family: monospace;
  font-size: 1.75ex;
}

[data-ctrl="review"] .pgn-dump.metadata {
  text-align: center;
  font-size: 2ex;
}

[data-ctrl="review"] .pgn-dump.metadata li {
  display: inline-block;
  padding-right: 2em;
}

[data-ctrl="review"] .pgn-dump.metadata li:last-child {
  padding-right: 0;
}

[data-ctrl="review"] .pgn-dump.exchanges {
  column-count: 4;
  column-gap: 1em;
}

[data-ctrl="review"] .game-review.active .pgn-dump .active {
  color: red;
  font-weight: bold;
}

[data-ctrl="review"] .jumpto {
  margin-bottom: 1em;
  text-align: center;
}

[data-ctrl="review"] ul.controls {
  margin: 0;
  padding: 1ex 0;
  text-align: center;
}

[data-ctrl="review"] ul.controls li {
  display: inline-block;
  list-style-type: none;
  height: 100%;
}

[data-ctrl="review"] .controls .jump {
  width: 70%;
}

[data-ctrl="review"] .controls label {
  margin: 0;
}

[data-ctrl="review"] .playback:active {
  outline: 1px solid pink;
}
