<cl-navbar></cl-navbar>

<div class="row marketing"></div>

<div class="jumbotron history-review">
  <a ng-show="controller.gameCount()"
     ng-click="controller.deleteAllGames()">delete all games</a>
  <table class="history-review">
    <caption>
      <span ng-hide="controller.gameCount()">No</span> Past Games
    </caption>

    <thead ng-show="controller.gameCount()">
      <td>Delete</td>
      <td>Review</td>
      <td>Players</td>
      <td>Winner</td>
      <td>Resolution</td>
      <td>Moves</td>
    </thead>

    <tbody>
      <tr data-gameover="{{controller.gameOver(key)}}"
          ng-show="key"
          ng-repeat="(key, game) in controller.getAllGames()">
        <td>
          <a title="delete this game"
             ng-click="controller.deleteGame(key)">x</a>
        </td>

        <td><a ng-href="/review:{{key}}">{{key | date:'medium'}}</a></td>

        <td class="players">
          <span title="white">
            {{controller.getPlayerWhite(key)}}
            &#40;<span ng-bind-html="controller.getPlayerIcon('w')"></span>&#41;
          </span>

          <span class="vs">vs.</span>

          <span title="black">
            {{controller.getPlayerBlack(key)}}
            &#40;<span ng-bind-html="controller.getPlayerIcon('b')"></span>&#41;
          </span>
        </td>

        <td class="winner" ng-bind-html="controller.getWiningPlayerIcon(key)"></td>

        <td>{{controller.getGameResolution(key)}}</td>

        <td>{{controller.getMoveCount(key)}}</td>
      </tr>
    <tbody>
  </table>

  <table class="settings-review">
    <caption>
      Settings &amp; Preferences
      <span ng-hide="history_service.haveSettingsSaved()">&#40;empty&#41;</span>
    </caption>
    
    <thead ng-show="history_service.haveSettingsSaved()">
      <td>Delete</td>
      <td>Setting</td>
      <td>Value</td>
    </thead>

    <tbody ng-show="history_service.haveSettingsSaved()">
      <tr>
        <td><a ng-click="history_service.rmMostRecentName(true)">delete</a></td>
        <td>most recent white player</td>
        <td>{{history_service.getMostRecentName(true)}}</td>
      </tr>
      <tr>
        <td><a ng-click="history_service.rmMostRecentName(false)">delete</a></td>
        <td>most recent black player</td>
        <td>{{history_service.getMostRecentName(false)}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row marketing"></div>

<p class="footer">
  <a href="http://github.com/jzacsh/chess-logger">Code</a>
  <a href="http://jzacsh.com">by jzacsh</a>
</p>
