<cl-navbar></cl-navbar>

<form class="row marketing" name="newGameForm">
  <p><a ng-href="/history" ng-if="controller.haveUnfinishedGame()">
    Continue some <strong>unfinished games</strong>, first!
  </a></p>

  <input type="text"
         name="white_name"
         placeholder="white player's name"
         ng-model="white_name"
         required />
  <input type="text"
         name="black_name"
         placeholder="black player's name"
         ng-model="black_name"
         required />
  
  <button class="btn new-game"
          ng-class="{'btn-info': !controller.gameStarted()}"
          ng-disabled="newGameForm.$invalid"
          ng-click="controller.newGame()">
    <span ng-hide="controller.gameStarted()">New Game</span>
    <span ng-show="controller.gameStarted()">Clean Slate</span>
  </button>
</form>

<div class="jumbotron">
  <div class="game-play"
       data-chess-turn="{{controller.turnColor()}}"
       ng-class="{gameover: controller.getGameResolution()}">

    <p data-chess-turn="b">
      <strong ng-show="controller.wasCheck()">Check!</strong> Black's move. </p>

    <ul data-chess-turn="b"
        class="pawn-promotion"
        ng-show="pawn_promotion">
      <li ng-repeat="target in controller.getPossibleBlackPromotions()">
        <a ng-click="pawn_promotion.resolve(target)"
           ng-bind-html="entity_to_piece(target)"></a>
      </li>
    </ul>

    <table class="chess-board" ng-class="{unfocus: pawn_promotion}">
      <tr data-chess-rank="{{rank}}"
          ng-repeat="rank in ui_board.rank">
        <td data-chess-position="{{file}}{{rank}}"
            data-chess-file="{{file}}"
            data-chess-sqr-color="{{controller.squareColor(file, rank)}}"
            data-chess-transitioning="{{controller.isPendingTransition(file, rank)}}"
            ng-repeat="file in ui_board.file">
          <button title="{{controller.getMoveTransitionStateMessage(file, rank)}}"
                  data-chess-transition="{{controller.getTransitionState(file, rank)}}"
                  data-chess-occupation="{{controller.getOccupationColor(file, rank)}}"
                  ng-bind-html="controller.getCurrentPiece(file, rank)"
                  ng-click="controller.moveTransition(file, rank)"></button>
        </td>
      </tr>
    </table>
    <p data-chess-turn="w">
      <strong ng-show="controller.wasCheck()">Check!</strong> White's move.</p>

    <ul data-chess-turn="w"
        class="pawn-promotion"
        ng-show="pawn_promotion">
      <li ng-repeat="target in controller.getPossibleWhitePromotions()">
        <a ng-click="pawn_promotion.resolve(target)"
           ng-bind-html="entity_to_piece(target)"></a>
      </li>
    </ul>

    <p class="status" ng-show="controller.getGameResolution()">
      {{controller.getGameResolution()}}
    </p>
  </div>
</div>

<div class="row marketing log"
     data-game-started="{{controller.gameStarted()}}">
  <h4>Game Log</h4>

  <div class="controls">
    <a class="undo btn"
       title="undo last move"
       ng-click="controller.undo()">&#10227; undo last move</a>

    <textarea class="data pgn-dump" ng-bind-html="controller.toPgn()"></textarea>

    <div class="login">
      <a class="save download btn btn-info" ng-click="controller.download()">
        Download</a>
      <a href="#"
         class="login save"
         title="Save, replay, share previous games"
         ng-click="controller.login()">
        <span ng-show="controller.gameStarted()">or</span>
        login &amp; sync with cloud
      </div>
    </p>
  </div>
</div>

<p class="footer">
  <a href="http://github.com/jzacsh/chess-logger">Code</a>
  <a href="http://jzacsh.com">by jzacsh</a>
</p>
