<div class="header">
  <h3 class="text-muted">Chess Logger</h3>
</div>

<div class="jumbotron">
  <div class="game-play"
       data-chess-turn="{{controller.turnColor()}}"
       ng-class="{gameover: controller.getGameResolution()}">

    <p data-chess-turn="b">
      <strong ng-show="controller.wasCheck()">Check!</strong> Black's move. </p>

    <ul data-chess-turn="b"
        class="pawn-promotion"
        ng-show="controller.sideBeingPromoted('b')">
      <li ng-repeat="target in controller.getPossibleBlackPromotions()">
        <a ng-click="pawn_promotion.resolve(target)"
           ng-bind-html="entity_to_piece(target)"></a>
      </li>
    </ul>

    <table class="chess-board">
      <tr data-chess-rank="{{rank}}"
          ng-repeat="rank in ui_board.rank">
        <td data-chess-position="{{file}}{{rank}}"
            data-chess-file="{{file}}"
            data-chess-sqr-color="{{controller.squareColor(file, rank)}}"
            data-chess-transitioning="{{controller.isPendingTransition(file, rank)}}"
            ng-repeat="file in ui_board.file">
          <button title="{{controller.getMoveTransitionStateMessage(file, rank)}}"
                  data-chess-transition="{{controller.getTransitionState(file, rank)}}"
                  data-chess-occupation="{{controller.getOccupationColor(file, rank)}}"
                  ng-bind-html="controller.getCurrentPiece(file, rank)"
                  ng-click="controller.moveTransition(file, rank)"></button>
        </td>
      </tr>
    </table>
    <p data-chess-turn="w">
      <strong ng-show="controller.wasCheck()">Check!</strong> White's move.</p>

    <ul data-chess-turn="w"
        class="pawn-promotion"
        ng-show="controller.sideBeingPromoted('w')">
      <li ng-repeat="target in controller.getPossibleWhitePromotions()">
        <a ng-click="pawn_promotion.resolve(target)"
           ng-bind-html="entity_to_piece(target)"></a>
      </li>
    </ul>

    <p class="status" ng-show="controller.getGameResolution()">
      {{controller.getGameResolution()}}
    </p>
  </div>
</div>

<div class="row marketing log"
     data-chess-history="{{controller.moveCount()}}">
  <h4>Log</h4>

  <div class="controls">
    <a class="undo"
       title="undo last move"
       ng-click="controller.undo()">&#10227; undo last move</a>

    <textarea class="data pgn-dump" ng-bind-html="controller.toPgn()"></textarea>

    <p class="login">
      <button class="save btn btn-info" ng-click="controller.download()">
        Download</button>
      <a href="#"
         class="login save"
         title="Save, replay, share previous games"
         ng-click="controller.login()">
        <span ng-show="controller.moveCount()">or</span>
        login &amp; sync with cloud
      </a>
    </p>
  </div>
</div>

<div class="footer">
  <p>by <a href="http://jzacsh.com">jzacsh</a></p>
</div>
