<cl-navbar></cl-navbar>

<div class="row marketing"></div>


<form ng-if="upload_game"
      name="uploadGameForm"
      class="jumbotron game-upload">
  <button class="btn btn-primary"
          ng-disabled="!controller.isRawPgnValid(raw_pgn_upload)"
          ng-click="controller.submitRawGamePgn(raw_pgn_upload)">
    Review PGN Text</button>
  <textarea ng-model="raw_pgn_upload"
            name="raw_pgn_upload"
            rows="10"
            required></textarea>
</form>

<div ng-if="game.dynamic"
     class="jumbotron game-review"
     ng-class="{active: game.dynamic.history().length}"
     data-active-move="{{controller.getLastDynamicIndex()}}">
  <ul class="pgn-dump metadata">
    <li ng-repeat="metadata in game.formatted_pgn_dump.metadata">
      {{metadata}}
    </li>
  </ul>

  <table cl-squarify="width" class="chess-board">
    <tr data-chess-rank="{{rank}}"
        ng-repeat="rank in board.getRanks()">
      <td data-chess-position="{{file}}{{rank}}"
          data-chess-file="{{file}}"
          data-chess-sqr-color="{{game.dynamic.square_color(file + rank)}}"
          data-chess-occupation="{{board.getOccupationColor(game.dynamic, file, rank)}}"
          ng-repeat="file in board.getFiles()">
        <button ng-bind-html="board.getCurrentPiece(game.dynamic, file, rank)"></button>
      </td>
    </tr>
  </table>
  <ul class="controls">
    <li class="previous">
      <label>
        <button class="btn btn-info"
                ng-disabled="!controller.canJumpPrevious()"
                ng-click="controller.jumpPrevious()">Previous</button>
      </label>
    </li>
    <li class="jump">
      <label class="jumpto">
        move &#35;{{controller.getDynamicReadableIndex()}}
        <input class="playback"
               ng-change="controller.jumpTo(game.jump_to)"
               ng-model="game.jump_to"
               type="range"
               step="1"
               min="0"
               max="{{controller.getLastOriginalIndex()}}" />
      </label>
    </li>
    <li class="next">
      <label>
        <button class="btn btn-info"
                ng-disabled="!controller.canJumpNext()"
                ng-click="controller.jumpNext()">Next</button>
      </label>
    </li>
  </ul>

  <ul class="pgn-dump exchanges">
    <li data-exchange-index="{{$index}}"
        ng-repeat="exchange in game.formatted_pgn_dump.moves"
        ng-click="controller.jumpTo($index * 2)"
        ng-class="{active: $index === controller.getMoveLineNumber()}">
      {{exchange}}
    </li>
  </ul>

  <ul class="relative-values">
    <li title="Exchange #{{move + 1}}"
        class="total-value"
        style="height: 100%; width: {{time_series.exchange_part_of}}%;"
        data-exchange-index="{{$index}}"
        ng-click="controller.jumpTo($index * 2)"
        ng-class="{active: $index === controller.getMoveLineNumber()}"
        ng-repeat="(move, total_values) in time_series.historic_relative_values">
      <div data-player="b" style="height: {{Ctrl.getTimeSeriesRelativeHeight(total_values.b)}}%;">
      </div>
      <div data-player="w" style="height: {{Ctrl.getTimeSeriesRelativeHeight(total_values.w)}}%;">
      </div>
    </li>
  </ul>

  <p class="pgn-review">
    <cl-download-pgn
        ng-show="controller.getGamekey()"
        cl-gamekey="controller.getGamekey()">
      Download
    </cl-download-pgn>
  </p>
</div>

<div class="row marketing"></div>

<p class="footer">
  <a href="http://github.com/jzacsh/chess-logger">Code</a>
  <a href="https://j.zac.sh">by jzacsh</a>
</p>
